* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 20px;
    min-width: 780px;
}

header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

main:not(.searching) h1 {
    cursor: pointer;
}

main.searching h1 {
    opacity: 0.2;
}

h1 .fa-recycle {
    margin-left: 10px;
    opacity: 0.2;
    transition: all 1s;
}

h1:hover .fa-recycle {
    opacity: 1;
}

.status {
    white-space: nowrap;
    flex-grow: 4;
    text-align: right;
}

.status .text {
    display: inline-block;
    width: 110px;
}

.status .fa-location-arrow {
    animation: arrowAnimation 3s ease-in-out forwards infinite alternate;
    transition: all 1s;
}

@keyframes arrowAnimation {
    from {
        margin-right: 0;
        transform: rotate(90deg);
    }
    to {
        margin-right: 40%;
        transform: rotate(180deg);
    }
}

main.finished .status .fa-location-arrow {
    opacity: 0;
}

main.searching .status {
    color: hsl(20, 100%, 50%) !important;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container .val {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1px;
    padding: 5px 2px;
    position: relative;
    text-align: center;
    width: 40px;
    transition: all 0.1s, height 1s;
}

main:not(.searching):not(.finished) .container .val {
    cursor: pointer;
}

main:not(.searching):not(.finished) .container .val:hover, .container .val.selected {
    background: hsl(20, 100%, 50%) !important;
}

.container .val::before {
    top: -35px;
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    left: 0;
    position: absolute;
    right: 0;
}

main.searching .container .val.checking::before {
    color: hsl(20, 100%, 50%);
    content: "\f059";
}

main.finished .container .val.selected::before {
    color: hsl(20, 100%, 50%);
    content: "\f058";
}

.container .val.deleted {
    background: hsl(0, 0%, 50%) !important;
    height: 0 !important;
}

.searcher {
    text-align: center;
}

.searcher .travolta {
    bottom: -200px;
    height: 200px;
    margin-left: -100px;
    position: absolute;
    width: 200px;
    transition: all 0.3s;
}

main.searching .searcher .travolta {
    bottom: 0;
}

.searcher .search-line {
    border: 2px dashed;
    bottom: 0;
    margin-left: -2px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    top: 100%;
}

main.searching .searcher .search-line {
    top: 110px;
}
